.container{
    width: 260px;
    height: 140px;
    margin: 30px auto;
    border: 1px solid blue;
    padding: 20px;
  }
.m-row{
    display: flex;
    align-items: center;
    margin: 10px 0;
    order: 1;
}
.box{
    width: 170px;
    height: 22px !important;
}
.input{
    height: 20px;
    outline: none;
    padding: 0;
    border: 1px solid rgb(127, 127, 233);
}
.label{
    background-color: rgb(127, 127, 233);
    min-width: 75px;
    margin-right: 15px;
    text-align: center;
    padding: 3px 0;
}
.m-row.center{
    justify-content: center;
    order: 2;
}
.btn{
    width: 75px;
    padding: 5px;
    background-color: green;
    border: 1px solid blue;
    color: white;
    text-align: center;
}
body {
    accent-color: rgb(127, 127, 233);
  }